@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GridPage>
@using ContentModels = UmbracoBootstrap.Web.PublishedContentModels;

<div class="container">
    <div class="row">
        <div class="col">
            @Html.CachedPartial("_Breadcrumb", Model, 700, cacheByPage: true)
        </div>
    </div>
</div>

@Html.GetGridHtml(Model.Content, "layout")