<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
    <system.web.webPages.razor>
        <pages pageBaseType="System.Web.Mvc.WebViewPage">
            <namespaces>
                <add namespace="Zoro.Domain.Notifications.MailMessages"/>
            </namespaces>
        </pages>
    </system.web.webPages.razor>

</configuration>
