@inherits UmbracoViewPage
@{ 
    var ancestors = Model.Ancestors()
        .OrderBy(x => x.Level);
}
<div class="d-flex align-items-left">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        @foreach(var ancestor in ancestors){ 
        <li class="breadcrumb-item"><a href="@ancestor.Url">@ancestor.Name</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
      </ol>
    </nav>
</div>
