@inherits UmbracoViewPage<ConfirmAccountMailModel>
@using NordicCreativeLeadership.Web.Models;
@{
    ViewBag.Title = "Confirm Account";
    ViewBag.Preheader = "We have received a account creation request";
}
<p>Hi @Model.Member.Name,</p>
<p>
    We have received a account creation request for the following email: @Model.Member.Email<br />
</p>
<p>
    <strong>Security Code:</strong><br />
    <span style="font-size: 40px;color: #0094ff;font-weight: 800;">@Model.SecurityCode</span>
</p>
@Html.Partial("MailMessages/_CallToAction", new CallToAction() { Url = Model.Permalink, Label = "Confirm your account" })
<p>
    If you did not request for a account creation, follow the link, and click "Delete account".
</p>