@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using CadpeopleApps.Web.Models;
@using CadpeopleApps.Web.Controllers;
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    if (Umbraco.HasQueryString("key") && Umbraco.HasQueryString("email"))
    {
        Html.RenderAction("ResetPassword", "Member", new
        {
            email = Umbraco.GetQueryString("email", ""),
            key = Umbraco.GetQueryString("key", ""),
        });
    }
    else
    {
        if (TempData["PasswordChanged"] != null)
        {
            <div class="alert alert-success">
                <strong>Hurra!</strong> Din adgangskode er blevet ændret!
            </div>
        }
        if(TempData["Success"] != null)
        {
            <div class="alert alert-success">
               Din e-mail blev fundet i vores database, du modtage en e-mail til med link til bekræftelse.
            </div>
        }
        if(TempData["Error"] != null)
        {
            <div class="alert alert-info">
                Vi fandt ikke medlem med den e-mail du skrev i feltet. Prøv igen.
            </div>
        }
        var forgotPasswordModel = new ForgotPasswordModel();
        using (Html.BeginUmbracoForm<MemberController>("HandleForgotPassword", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => forgotPasswordModel.Email)
                @Html.TextBoxFor(m => forgotPasswordModel.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=> forgotPasswordModel.Email)
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning">Send forespørgsel</button>
            </div>
        }
    }
}