@inherits UmbracoViewPage<NordicCreativeLeadership.Web.Models.PasswordResetConfirmationMailModel>
<html>
<head>
    <title>Ændring af adgangskode</title>
</head>
<body>
    <p>
        Hej @Model.Member.Name,
    </p>
    <p>
        Dit brugernavn er: @Model.Member.UserName
    </p>
    <p>
        For en sikkerhedskyld, vil jeg gerne bede dig bekræfte at du ønsker at skifte adgangskode.
    </p>
    <p>
        <a href="@Model.Permalink">Jeg ønsker at skifte adgangskode!</a>
    </p>
    <p>
        <small>
            Hvis ovenstående link ikke virker, tryk her: <br />
            @Model.Permalink
        </small>
    </p>
</body>
</html>