<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
 <system.web>
    <!-- Increase default upload file size from 4mb to 50mb -->
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="51200" xdt:Transform="SetAttributes()" />

    <!-- Make sure debugging is not enabled -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- If we are using https, change requireSSL to true -->
    <httpCookies xdt:Transform="Remove"/>
    <httpCookies httpOnlyCookies="true" requireSSL="false" xdt:Transform="InsertIfMissing" />

    <!-- Remember to add umbraco nodes with urlAlias to GenericError and InternalError -->
    <customErrors xdt:Transform="Remove" />
    <customErrors defaultRedirect="GenericError" mode="RemoteOnly" xdt:Transform="InsertIfMissing">
      <error statusCode="500" redirect="InternalError" />
    </customErrors>
  </system.web>

  <system.webServer>
    <security xdt:Transform="InsertIfMissing">
      <requestFiltering xdt:Transform="InsertIfMissing">
        <!-- Maximum allowed file upload size -->
        <requestLimits xdt:Transform="Remove" />
        <requestLimits maxAllowedContentLength="52428800" xdt:Transform="InsertIfMissing" />
      </requestFiltering>
    </security>

    <rewrite xdt:Transform="InsertIfMissing">
      <rules xdt:Transform="InsertIfMissing">
        <rule name="RedirectMedia" xdt:Transform="Remove" xdt:Locator="Match(name)" ></rule>
      </rules>
    </rewrite>

    <!-- Compress content delivery using gzip -->
    <httpCompression xdt:Transform="Remove"/>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
                     dynamicCompressionEnableCpuUsage="70"
                     xdt:Transform="InsertIfMissing">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="4"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>

    <!-- It's recommend for performance, remember to install it on the server -->
    <urlCompression xdt:Transform="Remove" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="InsertIfMissing" />

    <staticContent xdt:Transform="InsertIfMissing">
      <!-- How long we want the cache to live. There is a 7 day minimum -->
      <clientCache xdt:Transform="Remove" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" xdt:Transform="InsertIfMissing" />
    </staticContent>

    <caching>
      <profiles>
        <add extension=".axd" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="s,t,cdv" />
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:10" varyByQueryString="*" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:10" varyByQueryString="*" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>