<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "umbracoDbDSN".
    -->
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <!-- 50MB -->
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="51200" xdt:Transform="SetAttributes()" />
    
    <customErrors defaultRedirect="GenericError" mode="Off" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB -->
        <requestLimits xdt:Transform="Remove" />
        <requestLimits maxAllowedContentLength="52428800" xdt:Transform="InsertIfMissing" /> 
      </requestFiltering>
    </security>

    <httpProtocol>
       <customHeaders>
          <remove name="X-Robots-Tag"/>
          <add name="X-Robots-Tag" value="noindex, nofollow"/>
       </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>