@model IPasswordResetConfirmationMailMessage
@{ 
    ViewBag.Title = "Password reset request";
}
<p>
    Hej @Model.FullName,
</p>
<p>
    Dit brugernavn er: @Model.UserName
</p>
<p>
    For en sikkerhedskyld, vil jeg gerne bede dig bekræfte at du ønsker at skifte adgangskode.
</p>
<p>
    <a href="@Model.Permalink">Jeg ønsker at skifte adgangskode!</a>
</p>
<p>
    <small>
        Hvis ovenstående link ikke virker, tryk her: <br />
        @Model.Permalink
    </small>
</p>
